.modal {
	position: fixed;
	overflow: hidden;
	overflow-block: scroll;
	width: 100vw;
	height: 100vh;
}

.backdrop {
	position: fixed;
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 3;
	overflow: hidden;
}

.popup {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	z-index: 5;
}
.popup_window {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 90%;
	min-height: 20em;
	padding: 2rem;
	background-color: white;
	border-radius: 5px;
	z-index: 6;
}
.popup_window_btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	display: flex;
	justify-content: end;
	align-items: center;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background-color: var(--main-background-color);
}
.popup_window_btn button {
	font-size: 1.5rem;
	font-size: bold;
	padding: 0.5rem;
	border: none;
	color: white;
	background: transparent;
	cursor: pointer;
}

.popup_window_title {
	font-size: 1rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
}
.popup_window_description {
	font-size: 0.8rem;
	margin-bottom: 1rem;
}
.popup_window_info {
	display: flex;
	justify-content: space-between;
}
.popup_window_info_url {
	font-size: 0.8rem;
	transition: color 0.3s;
}
.popup_window_info_author {
	font-size: 0.8rem;
}
.popup_window_info_url:hover {
	color: var(--main-background-color);
}
@media screen and (min-width: 600px) {
	.popup_window_title {
		font-size: 1.3rem;
	}
	.popup_window_description {
		font-size: 1rem;
	}
	.popup_window_info_url {
		font-size: 1rem;
	}
	.popup_window_info_author {
		font-size: 1rem;
	}
}
@media screen and (min-width: 1000px) {
	.popup_window {
		width: 50%;
	}
}

/* Animation */

.show_popup {
	animation: show-popup 0.4s forwards;
}
@keyframes show-popup {
	from {
		transform: translateY(-5em);
	}
	to {
		transform: translateY(0);
	}
} ;
