.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1em;
	padding: 1em 1em;
	border-bottom: 1px solid var(--border-color);
}
.header_name a {
	text-decoration: none;
	color: black;
}
.header_name h1 {
	font-size: 1.5em;
}
.header_name span {
	color: var(--main-background-color);
}
.header_viewOptions {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.2em;
}
.header_viewOptions svg {
	margin: 0 1em;
	cursor: pointer;
	transition: color 0.3s;
}
.header_viewOptions svg:hover {
	color: var(--main-background-color);
}
.header_buttonBox {
	display: flex;
	justify-content: center;
	align-items: center;
}
.header_buttonBox button {
	font-size: 0.8rem;
	padding: 0.3rem 0.7rem;
	letter-spacing: 2px;
	border: none;
	border-radius: 5px;
	color: var(--text-color);
	background-color: var(--main-background-color);
	transition: color 0.3s;
	cursor: pointer;
}
.header_buttonBox button:hover {
	color: var(--text-color2);
}

@media screen and (min-width: 400px) {
	.header_name h1 {
		font-size: 2em;
	}
}
@media screen and (min-width: 600px) {
	.header_viewOptions {
		font-size: 2em;
	}
	.header_name h1 {
		font-size: 3em;
	}
	.header_buttonBox button {
		font-size: 1.4rem;
		padding: 0.5rem 1rem;
		letter-spacing: 2px;
	}
}

@media screen and (min-width: 1000px) {
	.header {
		padding: 1em 10em;
	}
	.header_name h1 {
		font-size: 5em;
	}
	.header_buttonBox button {
		font-size: 1.5rem;
		padding: 0.5rem 1rem;
		letter-spacing: 2px;
	}
}
