@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

:root {
	--main-background-color: rgb(128, 179, 40);
	--text-color: white;
	--text-color2: rgb(218, 218, 218);
	--text-color3: rgb(0, 0, 0);
	--border-color: rgb(206, 206, 206);
}
